# Supabase Configuration
SUPABASE_URL=https://ulmaomfsyjbwcwecutcp.supabase.co
SUPABASE_KEY=sb_publishable_q1xXSPOatO5A4TqibiPfBA_KdK9q2NA

# Flask Configuration
SECRET_KEY=your_secret_key_here
PORT=5000
